.signout{
    position: absolute;
    font-size: 2vw;
    top: 86vh;
    left: 29px;

}
.signout button{
    border: none;
    background: none;
}
.backbtn{
    font-size: 2vw;
    /* margin: auto; */
    background-color: transparent;
    border: none;
    float: right;
    margin: 1rem;
    cursor: pointer;
}
.detail{
    width: 100%;
    /* margin: 1rem; */
    background: #fbcfab;
    border-radius: 20px 10px 0 0;
    height: 8rem;
    /* display: inline-block; */
    /* display: inline-grid; */
    padding-left: 1rem;
    justify-content: center;
}
.detail span {
    font-size: 1.5vw;

}
.image{
    border-radius: 20px;
    margin-top: 1rem;
    width: 4em;
    
}
.navbar ul{
    font-size: 1.2vw;
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}
.navbar ul li{
    border-bottom:1px solid

}
.badge{
    float: right;
}
.badge:hover{
    background-color: blue;
}
.navbar ul li a {
    display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #555;
    color: white;
  }


  .checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 80px;
    margin-right: 40px;
  }
  .checkinput{
    display: none;
  }
