.parent {
    display: flex;
    background: #F6DDCC;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.div1{
    background: #FDF2E9;
    display: inline-flex;
    width: 20%;
    margin: 1rem 0 0 1rem;
    height: 93vh;
    border-radius: 20px;
}
.div2{
    background: #FDF2E9;
    display: inline-flex;
    width: 77%;
    height: 93vh;
    border-radius: 20px;
    margin: 1rem;
}
.center{
    display: none;
}
.center h3,i{
    display: inline;
    font-size: 2vw;
    margin-left: 20px;
}
.center input{
    display: none
}
@media (max-width: 858px){
    .div1{
        display: none;
      
    }
    /* .parent{
        display: contents;
    } */
    .div2{
        width: 100vw;
    }
    .center{
        display: block;
        background: #F6DDCC;
        position: sticky;
        top: 0;
        left: 0;
    }
  
   
}