.main{
    margin: 1rem;
    width: 100%;
}
.mail ul{
    
    padding: 0;

}
.main li{
    list-style: none;
    background: #e9cdc4;
    text-align: center;
    margin: 0.5rem 0;
    color: black;
    font-weight: 600;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    
}